Language: Cpp
BasedOnStyle: Google
ColumnLimit: 140

DerivePointerAlignment: true

PointerAlignment: Left

# Only sort headers in each include block
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve

IndentPPDirectives: AfterHash